class UserData:
    def __init__(self, firstname, lastname, username, password):
        self.firstname = firstname
        self.lastname = lastname
        self.username = username
        self.password = password
    def get_firstname(self):
        return self.firstname
    def get_lastname(self):
        return self.lastname
    def get_username(self):
        return self.username
    def get_password(self):
        return self.password
    def set_firstname(self, firstname):
        self.firstname = firstname
    def set_lastname(self, lastname):
        self.lastname = lastname
    def set_username(self, username):
        self.username = username
    def set_password(self, password):
        self.password = password
    def __str__(self):
        return "Firstname: " + self.firstname + "\nLastname: " + self.lastname + "\nUsername: " + self.username + "\nPassword: " + self.password
def menu():
    print('A: Search by last name')
    print('B: Search by username')
    print('C: Insert a user')
    print('E: Display all users')
    choice = input("Enter your choice: ")
    return choice 
    
 def main():
    datafile = open("UD (2).txt", "r")#open the file
    userdata_list=[]#create an empty list
    lines = datafile.readlines()
    lines = lines[1:]#skip the header
    for line in lines:
      line = line.strip()
      line = line.split(',')
      userdata_list.append(UserData(line[0],line[1],line[2],line[3]))
      print(line)
      
    datafile.close()
  
    while True:
      print()
      choice=menu()
      print()
      if choice == 'A':
          lastname=input("Enter user’s name in the form: Lastname \n")
          for userdata in userdata_list:
              if userdata.get_lastname() == lastname:
                  print(userdata.get_password())
                  break
          else:
              print("User not found")

      elif choice == 'B':
          username=input("Enter user's username: ")
          for userdata in userdata_list:#if user is found display the user’s password, and return the user to main menu
              if userdata.get_username() == username:
                  print(userdata.get_password())
                  break
          else:
              print("User not found")
              
      elif choice == 'C':
          infor=input("Enter user info in the following format: First name, last name, username, passworwor: \n")
          datafile = open("UD (2).txt", "a")
          datafile.write(f'{infor}\n')
          datafile.close()#close the file
        
      elif choice == 'E':#else choice is E display all user's data fields
          for userdata in userdata_list:
              print(userdata)

if __name__ == '__main__':
  main()
