class UserData:
    def __init__(self, firstname, lastname, username, password):
        self.firstname = firstname
        self.lastname = lastname
        self.username = username
        self.password = password
    def get_firstname(self):
        return self.firstname
    def get_lastname(self):
        return self.lastname
    def get_username(self):
        return self.username
    def get_password(self):
        return self.password
    def set_firstname(self, firstname):
        self.firstname = firstname
    def set_lastname(self, lastname):
        self.lastname = lastname
    def set_username(self, username):
        self.username = username
    def set_password(self, password):
        self.password = password
    def __str__(self):
        return "Firstname: " + self.firstname + "\nLastname: " + self.lastname + "\nUsername: " + self.username + "\nPassword: " + self.password

